- provide(:title, @path.name)

%p#notice= notice

%h4.text-center= best_in_place @path, :name

%table.table
  %thead
    %tr
      %th Lesson name
      %th Url
      %th
      %th
      %th

  %tbody
    - @path.lessons.each do |lesson|
      %tr{:id => "lesson-#{lesson.id}"}
        %td
          = best_in_place [@path, lesson], :name
        %td
          = link_to "#{lesson.url}", "#{lesson.url}"
        %td
          = lesson.path.user.name
        - if lesson.path.user == current_user
          %td= link_to 'Edit', edit_path_lesson_path(@path, lesson)
          %td= link_to "", [@path, lesson], method: :delete, remote: true, class: "glyphicon glyphicon-trash", data: {confirm: "Are you sure you want to remove this lesson?"}
    = render :partial => 'lessons/form', :locals => {:path => @path, :lesson => Lesson.new}

%br
%br
= link_to 'Edit', edit_path_path(@path)
\|
= link_to 'Back', paths_path
